body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
     min-width: 400px;
}


input {
   
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid rgb(195, 0, 195);
    margin-bottom: 4px;

}

button{

    padding: 10px 20px;
    padding-bottom: 10px;
    background: rgb(195, 0, 195);
    color: white;
    margin-top: 10PX;
    border: none;
    font-weight: bold;    
}

ul {

    list-style: none;
    padding: 0; 
    margin: 10;     
}
li {
    padding: 5px;
}
a {
      color: rgb(195, 0, 195);
}
